/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: var(--ifm-navbar-background-color);
	/* background-color: #ffff; */
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.theme-button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.switcher {
	display: flex;
	padding: 0 10px;
	height: 32px;
	border-radius: 20px;
	background-color: #fff;
	align-items: center;
	margin-right: 16px;
}
