/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Fonts */

@font-face {
	font-family: Inter var;
	font-weight: 100 900;
	font-display: block;
	font-style: normal;
	font-named-instance: "Regular";
	src: url(../../static/fonts/Inter-roman.var.woff2) format("woff2");
}

@font-face {
	font-family: Inter var;
	font-weight: 100 900;
	font-display: block;
	font-style: italic;
	font-named-instance: "Italic";
	src: url(../../static/fonts/Inter-italic.var.woff2) format("woff2");
}

@font-face {
	font-family: Fira Code VF;
	font-weight: 300 700;
	font-style: normal;
	src: url(../../static/fonts/FiraCode-VF.woff2) format("woff2-variations"), url(../../static/fonts/FiraCode-VF.woff) format("woff-variations");
}

pre,
code {
	font-variant-ligatures: none;
}

/* You can override the default Infima variables here. */

:root {
	--ifm-spacing-horizontal: 2rem;
	--ifm-font-weight-semibold: 400;
	--ifm-navbar-item-padding-horizontal: 0.7rem;

	--ifm-font-family-base: "Inter var", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--ifm-font-family-monospace: "Fira Code VF", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	/* Theme colors */

	--ifm-color-primary: #ec407a;
	--ifm-color-primary-dark: #c43061;
	--ifm-color-primary-darker: #8f1e43;
	--ifm-color-primary-darkest: #680e2c;
	--ifm-color-primary-light: #921a42;
	--ifm-color-primary-lighter: #ad1c4c;
	--ifm-color-primary-lightest: #ec407a;
	--ifm-toc-border-color: #dedede;

	--ifm-navbar-background-color: #1f1a32;

	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] {
	--ifm-color-primary: #ec407a;
	--ifm-color-primary-dark: #c43061;
	--ifm-color-primary-darker: #8f1e43;
	--ifm-color-primary-darkest: #680e2c;
	--ifm-color-primary-light: #921a42;
	--ifm-color-primary-lighter: #ad1c4c;
	--ifm-color-primary-lightest: #ec407a;
	/* --ifm-toc-border-color: #2e2e2e; */

	--ifm-navbar-background-color: #1f1a32;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
/* ==============================================================================
Scrollbar
 ============================================================================== */

/* Firefox */
/* * {
	scrollbar-color: var(--ifm-color-primary-lightest) var(--ifm-color-primary-darkest);
	scrollbar-width: thin;
} */

/* WebKit / Blink */
/* 
::-webkit-scrollbar {
	width: 7px !important;
	height: 7px !important;
}

::-webkit-scrollbar-track {
	background: var(--ifm-color-primary-darkest) !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 0 !important;
	background: var(--ifm-color-primary-lightest) !important;
}

::-webkit-scrollbar-corner {
	background: var(--ifm-color-primary-dark) !important;
} */

.navbar {
	/* border-bottom: 1px solid var(--ifm-toc-border-color); */
	/* background: var(--ifm-color-primary-lightest) !important; */
	background-color: var(--ifm-navbar-background-color);
	border-bottom: none;
	box-shadow: none;
	height: 82px;
	/* height: 3.75rem; */
	padding: 1.5rem 3rem;
	/* padding: 10px 20px; */
}
.menu,
.navbar__link {
	font-weight: var(--ifm-font-weight-semibold);
	color: #ccc;
	font-size: large;
}

.pseudo-icon {
	opacity: 0.8;
	padding: 0.25rem;
	margin: 0 0.5rem;
}

.pseudo-icon:hover {
	opacity: 1;
}

.pseudo-icon::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	opacity: 0.8;
	background-repeat: no-repeat;
}

.github-icon::before {
	/* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"); */
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23b4b4b4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme="dark"] .github-icon::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23b4b4b4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.discord-icon::before {
	width: 32px;
	height: 25px;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.967 0c-.278.497-.525 1.01-.741 1.537a20.488 20.488 0 0 0-6.401 0A14.164 14.164 0 0 0 10.085 0c-1.998.341-3.94.953-5.773 1.817A24.22 24.22 0 0 0 .12 18.015a23.2 23.2 0 0 0 7.085 3.62 18.01 18.01 0 0 0 1.552-2.432 13.48 13.48 0 0 1-2.39-1.16c.207-.138.404-.293.587-.462a16.296 16.296 0 0 0 14.143 0c.196.168.392.322.587.462-.76.46-1.56.853-2.39 1.174.433.87.938 1.702 1.51 2.487a22.977 22.977 0 0 0 7.072-3.62 24.066 24.066 0 0 0-4.193-16.197A22.487 22.487 0 0 0 17.967 0ZM9.386 14.745a2.712 2.712 0 0 1-2.516-2.796 2.697 2.697 0 0 1 2.516-2.795A2.697 2.697 0 0 1 11.9 11.95a2.697 2.697 0 0 1-2.515 2.796Zm9.28 0a2.712 2.712 0 0 1-2.516-2.796 2.698 2.698 0 0 1 2.515-2.795 2.684 2.684 0 0 1 2.516 2.795 2.684 2.684 0 0 1-2.516 2.796Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme="dark"] .discord-icon::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.967 0c-.278.497-.525 1.01-.741 1.537a20.488 20.488 0 0 0-6.401 0A14.164 14.164 0 0 0 10.085 0c-1.998.341-3.94.953-5.773 1.817A24.22 24.22 0 0 0 .12 18.015a23.2 23.2 0 0 0 7.085 3.62 18.01 18.01 0 0 0 1.552-2.432 13.48 13.48 0 0 1-2.39-1.16c.207-.138.404-.293.587-.462a16.296 16.296 0 0 0 14.143 0c.196.168.392.322.587.462-.76.46-1.56.853-2.39 1.174.433.87.938 1.702 1.51 2.487a22.977 22.977 0 0 0 7.072-3.62 24.066 24.066 0 0 0-4.193-16.197A22.487 22.487 0 0 0 17.967 0ZM9.386 14.745a2.712 2.712 0 0 1-2.516-2.796 2.697 2.697 0 0 1 2.516-2.795A2.697 2.697 0 0 1 11.9 11.95a2.697 2.697 0 0 1-2.515 2.796Zm9.28 0a2.712 2.712 0 0 1-2.516-2.796 2.698 2.698 0 0 1 2.515-2.795 2.684 2.684 0 0 1 2.516 2.795 2.684 2.684 0 0 1-2.516 2.796Z' fill='%23b4b4b4'%3E%3C/path%3E%3C/svg%3E");
}
.navbar-sidebar .pseudo-icon {
	padding: 0.3rem 0.5rem;
	margin: 0;
}

.navbar-sidebar .pseudo-icon::after {
	content: "GitHub";
	margin-left: 12px;
}
.navbar-sidebar .github-icon {
	margin-top: 2rem;
}

.navbar-sidebar .github-icon::after {
	content: "GitHub";
}
.navbar-sidebar .discord-icon::after {
	content: "Discord";
}

/* sidebar */

.menu__link,
.menu__caret {
	border-radius: 0.5rem;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-1.menu__list-item {
	margin-left: 1rem;
}

.section-title.theme-doc-sidebar-item-category-level-1 .menu__list-item-collapsible {
	text-transform: uppercase;
	font-size: 0.75rem;
	margin: 24px auto 8px 1rem;
	letter-spacing: 0.05rem;
	color: var(--ifm-font-color-base);
}

.theme-doc-sidebar-item-category-level-2 .menu__list-item-collapsible {
	text-transform: none !important;
	font-size: 0.875rem !important;
	margin: 0px auto 0 0 !important;
	letter-spacing: 0rem !important;
	color: var(--ifm-font-color-base);
}

.section-title .menu__list-item-collapsible:hover {
	background: none;
}

.menu__list-item {
	font-size: 0.875rem;
	margin: 0px auto 0px 0;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-3 a {
	color: #666;
}

.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2 ul.menu__list {
	border-left: 1px solid #ccc;
	padding-left: 0px;
	margin-left: 16px;
	margin-bottom: 24px;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-3.menu__list-item a.menu__link {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.navbar__logo {
	height: 3rem;
	margin-right: 20px;
}

.menu__link {
	line-height: 1.38;
	color: var(--ifm-font-color-base);
}

.section-title .menu__list-item-collapsible .menu__link {
	line-height: 1.5;
	color: var(--ifm-color-primary-dark);
}

.theme-doc-sidebar-item-category .theme-doc-sidebar-item-category-level-2 .menu__list-item-collapsible .menu__link {
	line-height: 1.38;
	color: var(--ifm-font-color-base);
}

/* Document Right Sidebar */

html .table-of-contents {
	border-left: 0;
}
html .table-of-contents ul {
	border-left: 2px solid #dfe2f5;
}

/* Home Page Header */
